# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
./engage/node_modules
./riskmanagement/node_modules
/.pnp
.pnp.js

# testing
./engage/coverage
./riskmanagement/coverage

# production
./engage/build
./riskmanagement/build

# misc
.DS_Store
./engage/.DS_Store
./engage/.env.local
./engage/.env.development.local
./engage/.env.test.local
./engage/.env.production.local

./engage/npm-debug.log*
./engage/yarn-debug.log*
./engage/yarn-error.log*

./riskmanagement/.DS_Store
./riskmanagement/.env.local
./riskmanagement/.env.development.local
./riskmanagement/.env.test.local
./riskmanagement/.env.production.local

./riskmanagement/npm-debug.log*
./riskmanagement/yarn-debug.log*
./riskmanagement/yarn-error.log*
